@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/email-pattern.png);
}
.lista {
  margin: 3rem;
  background: white;
}
.button {
  float: left;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}
.titulo {
	text-align: center;
	font-weight: 500;
	color: #636363;
	text-align:center;
	font-size: 35px;
}
.button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
.button:hover{
  background-color: gray;
}
.link{
  color: white;
}
.link:hover{
  color: white;
}
